#logo {
  height: 97px; }
  #logo .logo {
    padding: 20px; }
    #logo .logo img {
      display: block;
      width: 220px;
      height: 52px; }

#main {
  width: 100%;
  height: 600px;
  background: url(../images/login.png) no-repeat center center; }
  #main .loging {
    width: 400px;
    position: relative;
    background: #ffeceb;
    background: rgba(255, 236, 235, 0.9);
    margin-top: 100px;
    float: right; }
    #main .loging .login_tab {
      width: 394px;
      height: 54px;
      border-bottom: 1px solid #999;
      margin-left: 6px; }
      #main .loging .login_tab .tab1 {
        width: 197px;
        height: 54px; }
        #main .loging .login_tab .tab1 a {
          margin-left: 40px;
          margin-top: 11px;
          display: block;
          width: 120px;
          height: 43px;
          border-bottom: 2px solid #f07;
          font-size: 16px;
          line-height: 43px;
          text-align: center;
          color: #f07; }
      #main .loging .login_tab .tab2 {
        width: 197px;
        height: 54px; }
        #main .loging .login_tab .tab2 a {
          display: block;
          margin-left: 25px;
          margin-top: 11px;
          font-size: 16px;
          width: 120px;
          height: 43px;
          line-height: 43px;
          color: #333; }
      #main .loging .login_tab .toggle {
        width: 46px;
        height: 46px;
        position: absolute;
        top: 5px;
        right: 5px;
        background: url(../images/ma.png) no-repeat;
        cursor: pointer; }
    #main .loging .ertip {
      width: 278px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: -10px;
      background: url(../images/shou.png) 12px no-repeat #fffff8;
      border: 1px solid #ffd797;
      height: 30px;
      line-height: 30px;
      color: #ff1877;
      padding-left: 40px;
      display: none; }
    #main .loging .login_box {
      width: 314px;
      margin: 0 auto; }
      #main .loging .login_box input {
        width: 314px;
        height: 42px;
        border: none;
        border: 1px solid #999;
        margin-top: 20px;
        background: none;
        text-indent: 10px; }
    #main .loging .lg_login {
      width: 314px;
      margin: 30px auto; }
      #main .loging .lg_login input {
        width: 314px;
        height: 40px;
        background: #ff5777;
        border: none;
        cursor: pointer;
        color: #fff; }
    #main .loging .small_link {
      width: 314px;
      margin: 0 auto; }
      #main .loging .small_link a {
        width: 70px;
        vertical-align: middle;
        margin-right: 50px; }
        #main .loging .small_link a img {
          vertical-align: middle; }
    #main .loging .zuce {
      margin: 30px auto;
      padding-left: 225px; }
      #main .loging .zuce a {
        margin-right: 20px;
        text-decoration: underline; }
        #main .loging .zuce a:nth-child(1) {
          color: #666; }
        #main .loging .zuce a:nth-child(2) {
          color: #f07; }

#foot {
  background-color: #f5f5f5;
  height: 180px;
  padding-top: 150px;
  padding-bottom: 20px; }
  #foot h4 {
    margin-left: 30px;
    height: 35px;
    line-height: 35px;
    font-size: 16px; }
  #foot .foot_t {
    border-bottom: 1px solid #f07;
    height: 100px; }
    #foot .foot_t .tom {
      width: 300px;
      height: 100px; }
    #foot .foot_t .a_link {
      width: 200px; }
      #foot .foot_t .a_link a {
        display: inline-block;
        width: 80px;
        height: 20px;
        line-height: 16px;
        font-size: 12px;
        color: #999; }
    #foot .foot_t .a_links {
      width: 200px; }
      #foot .foot_t .a_links a {
        display: inline-block;
        width: 60px;
        height: 20px;
        line-height: 16px;
        font-size: 12px;
        color: #999; }
  #foot .foot_b .p1 {
    margin-top: 10px;
    height: 30px;
    font-size: 12px;
    line-height: 30px; }
    #foot .foot_b .p1 a {
      display: inline-block;
      width: 80px;
      height: 35px;
      color: #666; }
      #foot .foot_b .p1 a:last-child {
        width: 300px;
        color: #999; }
  #foot .foot_b .p2 {
    height: 30px;
    font-size: 12px;
    line-height: 30px; }
    #foot .foot_b .p2 a {
      display: inline-block;
      margin-right: 10px;
      color: #999; }

/*# sourceMappingURL=login.css.map */
